.gradle
*.iml
/local.properties

# user specific configuration
/.idea/libraries
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml

/test

.DS_Store
/build
/captures
build/
bootstrap/
/output

# don't forget environment variable GOOGLE_APPLICATION_CREDENTIALS
remote_credentials.json
